/* Dashboard.css */
.dashboard {
    background-color: #fff; /* Gray background for the dashboard */
    min-height: 100vh; /* Ensure the dashboard takes up the full viewport height */
    padding: 20px;
    display: flex;
    justify-content: center;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Ensure the container doesn’t stretch too wide */
    flex-wrap: wrap; /* Allow wrapping to the next line on smaller screens */
}

.dashboard-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card1-container,
.card2-container,
.card3-container {
    width: 100%;
    margin: 10px;
}

/* Ensure all cards have the same height */
.card1-container .card,
.card2-container .card,
.card3-container .card {
    height: 100%;
    width: 100%;
}

.chart-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.opportunit-chart-container {
    width: 100%;
    min-height: 450px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    justify-content: center;
    align-content: center;

}

.basic-line-chart-container {
    width: 100%;
    min-height: 450px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    justify-content: center;
    align-content: center;
}
