/* Dashboard.css */
.dashboard {
    background-color: #fff;  /* Gray background for the dashboard */
    min-height: 100vh;  /* Ensure the dashboard takes up the full viewport height */
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .dashboard-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;  /* Ensure the container doesn’t stretch too wide */
    flex-wrap: wrap;  /* Allow wrapping to the next line on smaller screens */
  }
  
  /* Card1 container */
  .card1-container {
    flex: 2;  /* Slightly larger to make Card1 wider */
    margin-right: 10px;  /* Space between Card1 and Card2 */
  }
  
  /* Card2 container */
  .card2-container {
    flex: 1;  /* Same size as Card3 */
    margin-right: 10px;  /* Space between Card2 and Card3 */
  }
  
  /* Card3 container */
  .card3-container {
    flex: 1;  /* Same size as Card2 */
  }
  
  /* Ensure all cards have the same height */
  .card1-container .card, 
  .card2-container .card, 
  .card3-container .card {
    height: 100%;
    width: 100%;
  }
  .chart-container{
    display: flex;
    width: 100%;
    height: 35%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }
  .opportunit-chart-container {


    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;

  }
  
  .basic-line-chart-container{
    width: 100%;
    height: 100%;

    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .dashboard-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    flex-wrap: wrap;
  }