.card3-app3 {
  align-content: center;
  border: 1px solid #E8E8E8;
  min-height: 300px;
  padding: 10px 20px;
  border-radius: 8px;
}

.card3-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-weight: 600;
  font-size: 14px;
  color: #5F6368;
}

.time-select {
  font-size: 12px;
  padding: 2px;
  min-width: 80px;
}

.total-text {
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0;
  color: #202124;
}

.donut-chart {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.donut {
  width: 120px;
  height: 120px;
}

.donut-hole {
  fill: #fff;
  
}

.donut-ring {
  fill: transparent;
  stroke: #e6e6e6;
  stroke-width: 3;
}

.donut-segment {
  fill: transparent;
  stroke-width: 3;
  /* stroke-linecap: round; */
  transition: stroke-dasharray 0.6s;
}

.started-segment {
  stroke: #334BFF;
  stroke-width: 8;

}

.evaluating-segment {
  stroke: #FD904B;
  stroke-width: 8;

}

.completed-segment {
  stroke: #67AB75;
  stroke-width: 8;

}

.legend {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.legend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.started-dot {
  background-color: #334BFF;
}

.evaluating-dot {
  background-color: #FD904B;
}

.completed-dot {
  background-color: #67AB75;
}

.percentage {
  font-weight: 600;
}
.card3-body {
  display: flex;
align-items: center;
justify-content: space-around;
}